{% block head %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>Provo: VM Provisioner</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Vagrant/Puppet GUI Configuration" />
        <meta charset="utf-8" />

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap-3.1.1/css/lumen.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('assets/vendor/font-awesome-4.2.0/css/font-awesome.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('assets/vendor/selectize.js/selectize.bootstrap3.css') }}" />
            <link rel="stylesheet" href="{{ asset('assets/v4/css/style.css') }}" />
            <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic|Inconsolata:400,700' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="{{ asset('assets/provo/css/style.css') }}" />
        {% endblock %}

        {% block topJs %}
            <!--[if lt IE 9]>
            <script src="{{ asset('assets/vendor/html5shiv.js') }}"></script>
            <script src="{{ asset('assets/vendor/respond.min.js') }}"></script>
            <![endif]-->
        {% endblock %}
    </head>
{% endblock head %}

<body>

{% block topMenu %}
    <div id="top" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="{{ path('puphpet.main.homepage') }}" class="navbar-brand"><i class="fa fa-cubes"></i> Provo</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path('puphpet.main.help') }}">Help!</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block main %}
{% endblock %}

{% block footer %}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p>
                    Powered by <a href="http://puphpet.com">PuPHPet</a>
                </p>
            </div>
        </div>
    </div>
</footer>

    {% block footerJs %}
        <script src="{{ asset('assets/vendor/jquery-2.1.0.min.js') }}"></script>
        <script src="{{ asset('assets/vendor/bootstrap-3.1.1/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/vendor/selectize.js/selectize.min.js') }}"></script>
        <script src="{{ asset('assets/v4/js/custom.js') }}"></script>
    {% endblock footerJs %}

{% endblock footer %}
</body>
</html>
